<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Error</title>
</head>
<body>
	<h1>This is a bad page</h1>
	<div>Something wrong happened</div>
</body>
</html>